.login-separator-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 12px;
  align-items: center;
  align-self: stretch;
  margin: 24px 0;
}

.login-separator-container hr {
  border: 1px solid var(--grey-color);
  width: 100%;
}

.login-separator-container span {
  display: flex;
  align-items: center;
  background-color: var(--white-color);
}

.login-create-account-container {
  display: flex;
  justify-content: center;
}

.login-create-account-container a {
  color: var(--grey-color);
  font-weight: bold;
  margin-left: 6px;
}
