.spend-summary-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .spend-summary-container {
    gap: 32px;
  }
}
